@use "../../util";
/* /////////// table design ////////// */
.outer3tbl1 {
  height: 150px;
  font-family: Arial, Helvetica, sans-serif;
}
/* ////////// table design1 ////////// */
.tbldes1 {
  text-align: left;
  border-collapse: collapse;
  margin-top: 20px;

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  th {
    height: 5px;
    block-size: fit-content;
    font-weight: bold;
  }
  th,
  td {
    text-align: left;
    padding: 10px 5px;
  }
}

/* /////////////////////////////////// */
/* ////////// table design 2 ///////// */
.tbldes2 {
  border-collapse: collapse;
  width: 100%;
  height: 100%;
  th,
  td {
    text-align: left;
    padding: 10px 10px;
  }
  tr:nth-child(even) {
    background-color: util.$grayViolet;
  }
}

.outertbl2 {
  overflow-x: auto;
  height: 100%;
  th {
    text-align: left;
    top: 0;
    position: sticky;
    background-color: util.$blueGreen;
    width: 100%;
    padding: 10px 10px;
    color: white;
  }
}

.outer2tbl2 {
  height: 100%;
  overflow-y: auto;
  border-radius: 10px;
}
/* /////////////////////////////////// */
/* /////////////////////////////////// */
