/* ////////// dropdown design //////// */
.dropdowndes1 {
  width: 100%;
  padding: 8px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 20px;
  border: none;
  transition: 0.5s;
  background-color: rgb(221, 221, 221);
  cursor: pointer;

  &:focus {
    outline: none;
    background-color: rgb(230, 220, 220);
  }
}

/* /////////////////////////////////// */
