@use "../../util";
@use "../../globals";

@mixin modalbgdesign() {
  @extend .fullwidth;
  @extend .fullheight;
  @extend .flexbox;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  position: absolute;
  display: none;
}

@mixin modalcontentdesign() {
  z-index: 2;
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

@mixin modalheaderdesign() {
  padding: 10px 16px;
  background-color: #e8bff8;
  color: #444444;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

@mixin modalbodydesign() {
  padding: 10px 16px;
}

@mixin modalfooterdesign() {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

@mixin modalclosedesign() {
  color: #444444;
  float: right;
  font-size: 28px;
  font-weight: bold;
  padding-bottom: 5px;
  &:hover,
  &:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
}
