<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="script.js" defer></script>
    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
    <ion-icon name="home-outline"></ion-icon>
    <br />

    <div>
      <canvas id="myChart"></canvas>
    </div>
    <br />
    <input type="text" id="datahere" />
    <button onclick="send()">submit</button>
    <button onclick="axiossend()">axios submit</button>

    <h3>File Upload</h3>
    <form onsubmit="return false">
      <input type="text" id="filename" />
      <input type="file" id="filedata" />
      <input type="submit" value="Upload" onclick="uploadfile()" />
    </form>

    <script>
      // ////////////// for file upload ///////////////////
      async function uploadfile() {
        let filename = document.getElementById("filename").value;
        let filedata = document.getElementById("filedata");
        let formData = new FormData();
        formData.append("filename", filename);
        formData.append("filedata", filedata.files[0]);
        let response = await fetch("/api/upload", {
          method: "POST",
          body: formData,
        });
        let myresult = await response.json();
        if (myresult.data == "success") {
          alert("file upload success");
        } else if (myresult.data == "invalid") {
          alert("Invalid");
        }
      }
      // //////////////////////////////////////////////////
      // ///////////////// w/o axios //////////////////////
      async function send() {
        try {
          let data = document.getElementById("datahere").value;
          let getdata = {
            data: data,
          };
          let response = await fetch("/postdata", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify(getdata),
          });
          let myresult = await response.json();
          if (myresult.data == "success") {
            alert("Success");
          }
        } catch (error) {}
      }

      // ///////////////// with axios ///////////////////
      async function axiossend() {
        try {
          let data = document.getElementById("datahere").value;
          let getdata = {
            data: data,
          };
          let response = await axios.post("/postdata", getdata, {
            headers: {
              "Content-Type": "application/json",
            },
          });
          if (response.data.data == "success") {
            alert("Success");
          }
        } catch (error) {
          alert(error);
        }
      }
      // ////////////////////////////////////////////////
    </script>

    <script>
      const ctx = document.getElementById("myChart");

      new Chart(ctx, {
        type: "bar",
        data: {
          labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
          datasets: [
            {
              label: "# of Votes",
              data: [12, 19, 3, 5, 2, 3],
              borderWidth: 1,
            },
          ],
        },
        options: {
          scales: {
            y: {
              beginAtZero: true,
            },
          },
        },
      });
    </script>
  </body>
</html>
<!-- yes it all works just dont request to another url -->
