$white: #ffffff;
$lightwhite: #ffffffd5;
$black: #5e5e5e;
$ultrablack: black;
$violet: #833db0;
$lightBlue: #e8f3f1;
$blueGreen: #57cbb4;
$yellowgreen: rgba(227, 246, 220, 0.8);
$darkGreen: #00392a;
$lightViolet: #dcc9e9;
$grayViolet: #f6f6f6;
$lightGray: #f2f2f2;
